<!DOCTYPE html>
<html>
<head>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NZPW8JD');</script>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-inline' 'unsafe-eval';">
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
	{{ghost_head}}
</head>

<body class="{{body_class}}">
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZPW8JD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<a class="hidden-close"></a>
	{{{body}}}
	<div id="body-class" style="display: none;" class="{{body_class}}"></div>

	<footer id="footer">
		<div class="inner">
			<section class="credits">
				<div class="stackable logo">
					<span>David</span>
					<span>Morales</span>
					<span>Cortés</span>
				</div>
				<span>Published with <a href="http://ghost.org">Ghost</a></span>
			</section>
		</div>
	</footer>
	<script>
		window.onload = function() {
			var postCount = $('.post').length;
			if(postCount <= 10) {
				$('nav.pagination').remove();

				if(postCount === 0) {
					$('#blog-header').css('padding', '47.5vh 0');
				}
			}
		}
	</script>
	<script type="text/javascript" src="{{asset "js/script.js"}}"></script>
	{{ghost_foot}}
</body>
</html>